body{
	margin: 0px;
	background: #5fa7af;
}
/* header */

ul{
	text-decoration: none;
	list-style: none;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	//background: #4c8f97;
	margin: 0px;
	border-bottom: 3px solid #fff0f0;
	display: flex;flex-direction: row;
}
header ul{
	display: flex; flex-direction: row;
	justify-content: space-around;
	font-size: 25px;
}
header ul li a{
	color: white;
}

header ul li a:hover{
	color: black;
}
.left{
	width: 47%;
}
.center{
	width: 13%;
}
.center img{
	height: 90px;
	width: 90px;

}
.right{
	width: 40%;
}
.shot{
	display: flex; flex-direction: row;
	justify-content: space-around;
	margin-bottom: 2px;
}
section{
	display: flex;
	flex-direction: column;
}

/*slideshow*/
.upper{
	background: #377a82;
	height: 550px;
}
.upper p{
	font-size: 30px;
	color: #4cec79;
	text-align: center;
}

#showcase{

	height: 400px;

	padding: 4%;
    padding-bottom: 2%;
	animation-name:slider1;
	animation-duration:5s;
	animation-iteration-count: infinite;
	background: url(../image/sun.jpg) no-repeat center;
	background-size: cover;
	//position: absolute;
}

@keyframes slider1{
	0%{background: url(../images/sun.jpg) no-repeat center;}
	15%{background: url(../images/130.jpg) no-repeat center;}
	25%{background: url(../images/sky.jpg) no-repeat center;}
	50%{background: url(../images/water.jpg) no-repeat center;}
	75%{background: url(../images/tom.jpg) no-repeat center;}
	85%{background: url(../images/nami.jpg) no-repeat center;}
	100%{background: url(../images/butterfly.jpg) no-repeat center;}
}
/* lower*/
.lower{
	background: #ededed;
	font-size: 22px;
	font-weight: bolder;
	color: black;
	text-align: center;
	padding: 0 1%;
}

.sub{
	background:#377a82;
	font-size: 22px;
	text-align: center;
}

/* contact form */
.contact p{
  margin: 2px;
  color: white;
  padding-left: 9px;
}

.contact form{
  padding-left: 10px;
  margin: 5px;
  border-radius: 5px;
  color: #5f19e0;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  background-color:#ffffff; ;padding-bottom: 10px;

}

.contact h2 {  
    border-radius: 8px;
    padding-left: 10px;
   
}

/* collection */
section{
	display: flex;
	flex-direction: column;
}

section ul{
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-around;
}


footer{
	border-top: 3px solid #fff0f0;
	background: #4c8f97;
	display: flex;
	flex-direction: row;
}
.media{
	width: 50%;
}
.media ul{
	display: flex;
	flex-direction: row;
}
.media ul li{
	margin-right: 5px;
}
.copyright{
	width: 50%;
	font-size: 20px;
}
